#header{
	background:url(../Img/Fondo.jpg);	
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
	height: 558px;
	width: 100%;
	
}
#menuheader{
	padding-top: 53px;


}
#menuheader nav ul{
	padding-right: 60px;
	float: right;
}
#menuheader nav ul li{
	list-style:none;
 	display: inline-block;
 	padding-right: 20px;
}
#menuheader nav ul li a{
	text-decoration: none; color: #ffffff; font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
#menuheader nav ul li a:hover{
	color:#00aeff;
}
#menuheader nav ul li:last-child a{
 border-right: none; border-right: 0px;
}
#logo{
	padding-top: 53px;	
	padding-left: 60px;
}
#cuadrodatos{
	padding-left: 145px;

}
#cuadronegro{
	
	background-color: #00191d;
	color: #ffffff;
	width: 300px	;
}
#destino .destinations{
	width: 307px;
}
#checkin .destinations{
	width: 150px;
}
#checkout .destinations{
	
	width: 150px;
}
.destinations{
border-radius: 5px;
font-family: 'Poppins', sans-serif;
font-size: 13px;
color: #515151;
}
.row{
	margin: 0px 0px;
}
button{
	background-color:#dda100;
	height: 35px;
	width: 135px;
	border: none;
	color: #ffffff;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
}
/*...................esmeralda.........................*/
#parte1{
	padding-left: 200px;
	padding-bottom: 0px;
	background-color: #0067be;
}
